# venv
.venv/
venv/

# IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache/

# Build / dist
build/
dist/

# OS junk
.DS_Store
Thumbs.db

# Streamlit / cache
.streamlit/
.cache/
